<div *ngIf="display1" (click)="clearVaulue()" class="point add-tag">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    <span>Add another task</span>
</div>

<div *ngIf="display2" class="add-box box2">
    <mat-icon class="point" (click)="toggle()" aria-hidden=" false ">clear</mat-icon>
    <textarea placeholder="Write your task here" [(ngModel)]="txtBox"></textarea>
    <div class="add-box box1" style="box-shadow: none ; padding: 10px 0px;">
        <button (click)="outputContent(txtBox.trim())" mat-flat-button style="color:white;background-color: #52b1b1">Add a task detail</button>
    </div>
</div>