<p *ngIf="content!=null" (click)="toggle();" [class]='classA'>
    {{content}}</p>
<div *ngIf="toggleInput" class="tool1" style="margin:0">
    <div class="tool f">
        <span style="font-weight:600; color:#52b1b1 ">Edit:  </span>
        <input class="box2" *ngIf="toggleInput" [(ngModel)]='tam' type="text" [placeholder]="content">
    </div>

    <div class="check-box" *ngIf="toggleCheckBox">
        <button (click)="okClick();toggleInput=!toggleInput" style="background-color: #72d07c;">ok
        </button>
        <button (click)="toggleInput=!toggleInput;toggleCheckBox=!toggleCheckBox" style="background-color: tomato">cancel
        </button>
    </div>
</div>

<div *ngIf="!toggleDisplay" class='tool'>

    <button (click)="toggleDisplay=!toggleDisplay;isChecked() " mat-flat-button style="color:white;background-color: #72d07c " class="tool-box ">
        <mat-icon aria-hidden="false " aria-label="Example home icon ">done</mat-icon>
        <span>Done</span>
    </button>
    <button (click)="toggleInput=! toggleInput;toggleDisplay=! toggleDisplay;toggleCheckBox=true " mat-flat-button style="color:white;background-color: #52b1b1 " class="tool-box ">
        <mat-icon aria-hidden="false " aria-label="Example home icon ">edit</mat-icon>
        <span>Edit</span>
    </button>
    <button (click)="delClick(); toggleDisplay=!toggleDisplay " mat-flat-button style="color:white;background-color: tomato " class="tool-box ">
        <mat-icon aria-hidden="false " aria-label="Example home icon ">delete</mat-icon>
        <span>Delete</span>
    </button>
</div>