<mat-toolbar>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>dashboard</mat-icon>
  </button>
    </div>

    <span id='logo'>
      <img style="width: 50px" src="../../assets/images/checkmark+clipboard+document+list+tracklist+icon-1320167911544323810.png" alt="">
      Pathwork
    </span>
    <div>
        <button mat-stroked-button>Login</button>
        <button class="btn" mat-stroked-button>Register</button>
    </div>
</mat-toolbar>