.container {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.box1 {
    // display: inlinblock;
    justify-content: start;
    width: 250px;
    overflow-wrap: break-word;
}

.box2 {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.add-box {
    margin: 2px 0 0;
    max-width: 370px;
    background-color: #52b1b1;
    overflow: hidden;
    color: white;
    padding: 6px 8px 3px;
    border-radius: 3px;
}

.shadow {
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    background-color: white;
    color: initial
}

.btn {
    border: 0;
    background-color: white;
    color: #52b1b1;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    font-weight: 550;
    align-items: center;
    padding: 0px;
    width: 100px;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
}

.ipt {
    outline: none;
    border: none;
    width: 250px;
    overflow-wrap: break-word;
    margin: 10px 0 5px 0;
    max-width: 250px;
    color: initial;
    overflow: hidden;
    background-color: white;
    padding: 6px 8px 3px;
    border-radius: 3px;
    height: 20px;
    // .ipt::first-letter {
    // text-transform: capitalize;
    // }
}

.point {
    cursor: pointer;
    color: white;
    display: block;
}

.dash-box {
    background-color: #52b1b1;
    width: 310px;
    // max-height: 300px;
    border-radius: 5px;
    align-items: center;
}

.box-con {
    max-width: 310px;
    // max-height: 300px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 6px 16px 3px 0;
    // box-sizing: border-box;
}

.ipt-con {
    display: flex;
    justify-content: center;
}

.box3 {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
}

.add-btn {
    // max-height: 300px;
    width: 310px;
    color: white;
    background-color: #52b1b1;
}

.right-m {
    margin: 20px 0 0 20px;
}